sapi-database/src/main/mule/database-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
    <apikit:config name="database-sapi-config" api="resource::1739c048-9b1b-4b42-9250-ebe945fa37d1:database-sapi:1.0.2:raml:zip:database-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <vm:config name="VM_Config" doc:name="VM Config" doc:id="c3ccca1a-93c9-41e2-98ee-6900dec02c8f">
        <vm:queues>
            <vm:queue queueName="errorQueue" />
        </vm:queues>
    </vm:config>
    <flow name="database-sapi-main">
        <http:listener path="/api/*" config-ref="HttpListen">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="database-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="database-sapi-console">
        <http:listener path="/console/*" config-ref="HttpListen">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="database-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\dbOperations:database-sapi-config">
        <logger level="INFO" doc:name="startLog" doc:id="65fb4598-9db9-4718-a358-09ba49199093" message="** DB GET operation flow started ** " />
        <db:select doc:name="getFlights" doc:id="7aa48587-9eb6-4790-843b-b26c95d95cb7" config-ref="Database_Config">
            <db:sql><![CDATA[select * from "DEMO_DB"."PUBLIC"."FLIGHTS" where ID = :id]]></db:sql>
            <db:input-parameters><![CDATA[#[{'id': attributes.queryParams.ID}]]]></db:input-parameters>
        </db:select>
        <ee:transform doc:name="payload" doc:id="fdcdea85-1c57-49b3-b77a-8c695c66f8d6">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="endLog" doc:id="1ef32c96-6411-491e-b7dd-84e41a824b2a" message="** DB GET operation flow ended ***" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d1f3376c-cb1c-40f8-a57c-2c95715fc5c7" type="DB:BAD_SQL_SYNTAX">
                <logger level="INFO" doc:name="Logger" doc:id="b05f435a-263f-4db7-be21-7a20db92a024" message="*** DB SQL query syntax is wrong *** " />
                <set-variable value="400" doc:name="setHTTPCode" doc:id="c21f14ca-7f0e-4318-80f5-57242d90138b" variableName="httpStatus" />
                <ee:transform doc:name="Transform Message" doc:id="0fb837eb-0d20-441f-aac0-675bd9c8642b">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "*** DB SQL query syntax is wrong *** "
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f4ee7a04-cdf7-48f7-84c3-7b6406f3fb8c" type="DB:CONNECTIVITY">
                <logger level="INFO" doc:name="Logger" doc:id="f11d3e7a-6390-4529-96cb-d110b444f6ad" message="*** DB Connection Error **" />
                <ee:transform doc:name="Transform Message" doc:id="ada7b3ee-f0c4-492f-9580-72efb218d45a">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
"message" : "DB Connection error"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\dbOperations:application\json:database-sapi-config">
        <logger level="INFO" doc:name="startLog" doc:id="10359a7f-36b5-4594-acf2-28ef97bf7867" message="** DB POST operation started **" />
        <ee:transform doc:name="Transform Message" doc:id="11ddbd28-1e94-4c1b-9e17-54f4b3c41e40">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var firstname = payload.FirstName[1]
---
payload map ( aaa , indexOfPayload01 ) -> {
	ID: aaa.ID,
	code: aaa.code,
	FirstName: firstname,
	price: aaa.price,
	origin: aaa.origin,
	destination: aaa.destination,
	emptySeats: aaa.emptySeats,
	FlightMake: aaa.flightType,
	totalSeats: aaa.totalSeats + 10
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <foreach doc:name="For Each" doc:id="fbfde7a5-6d94-4b7e-a511-092950fede29" collection="#[payload]">
            <try doc:name="Try" doc:id="6cfb6600-bb81-4934-b27e-5f0752d01a7f">
                <db:insert doc:name="insertFlights" doc:id="fd51df25-10eb-45ee-9bb5-98a4f44d74ef" config-ref="Database_Config">
                    <db:sql><![CDATA[insert into "DEMO_DB"."PUBLIC"."FLIGHTS" values (:ID , :code, :FirstName, :price, :origin, :destination, :emptySeats, :FlightMake, :totalSeats)]]></db:sql>
                    <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
                </db:insert>
                <error-handler>
                    <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b361e03d-dde4-490f-b681-a4e10c72f149">
                        <logger level="INFO" doc:name="Logger" doc:id="546a7ec3-7f16-45aa-b78e-b8e1fa0a06fd" message="#[payload]" />
                        <vm:publish queueName="errorQueue" doc:name="Publish" doc:id="87ea371b-8267-4024-85ad-7042bec6f03d" config-ref="VM_Config" />
                    </on-error-continue>
                </error-handler>
            </try>
        </foreach>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Records Inserted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="100d6fc4-c843-4f41-b1f8-5e643e26c78c" message="** DB POST operation ended **" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7887f605-a0d8-4b0f-b4b3-f7d933233015" type="ANY">
                <logger level="INFO" doc:name="Logger" doc:id="509cb938-a634-458f-a842-d8065b2f8710" message="#[error.detailedDescription]" />
                <ee:transform doc:name="Transform Message" doc:id="025280c3-cbee-4c72-8598-6de6e9ec5d0e">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error.detailedDescription]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\dbOperations:application\json:database-sapi-config">
        <logger level="INFO" doc:name="startLog" doc:id="e01f49ce-df43-45a0-adf8-6ece541e49e3" message="** DB PUT operation started **" />
        <ee:transform doc:name="dbPayload" doc:id="b869743c-3c48-4af3-a8ac-9ec72db69d19">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: payload01.code,
	FirstName: payload01.FirstName,
	price: payload01.price,
	origin: payload01.origin,
	destination: payload01.destination,
	emptySeats: payload01.emptySeats,
	flightType: payload01.flightType,
	totalSeats: payload01.totalSeats
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <set-variable value="#[payload]" doc:name="Set Variable" doc:id="0bf1b72b-6117-4d2d-9839-b517c3496101" variableName="dbUpdatePayload" />
        <db:bulk-update doc:name="Bulk update" doc:id="76ee5429-a58e-42d6-a070-c3462bfe8755" config-ref="Database_Config" target="updateResponse">
            <db:bulk-input-parameters><![CDATA[#[vars.dbUpdatePayload]]]></db:bulk-input-parameters>
            <db:sql><![CDATA[update "DEMO_DB"."PUBLIC"."FLIGHTS" set FirstName = :FirstName where ID = :ID]]></db:sql>
        </db:bulk-update>
        <ee:transform doc:name="responsePayload" doc:id="c0ce5069-117f-4f05-a203-42e0e75af606">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.updateResponse]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="endLog" doc:id="e101ac9e-85ae-42b6-a50f-34206e8e9780" message="*** DB PUT operation ended **" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a21a6d9a-ee59-41fe-8303-cb662d531b36">
                <logger level="INFO" doc:name="errorLog" doc:id="7da2a6fb-08ba-4b4e-a0df-a1969e250489" message="#[error.errorMessage.payload]" />
                <ee:transform doc:name="Transform Message" doc:id="ac0a28a0-6c69-4121-9095-5bf0faa8919b">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
error.errorMessage.payload]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\dbOperations\(id):application\json:database-sapi-config">
        <logger level="INFO" doc:name="logStart" doc:id="10c44e8a-cb36-41d9-a4f7-4e6c8044341d" message="** DB PUT by ID operation started **"/>
		<ee:transform doc:name="setURIParam">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="setRequestPayload" doc:id="bbe07b08-005b-4a3c-89f1-17353d9a6847" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	ID: vars.id,
	status: payload.status
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:update doc:name="updateStatus" doc:id="32b6d32e-d218-4e82-be0a-3cf8b99647c0" config-ref="Database_Config">
			<db:sql ><![CDATA[update "DEMO_DB"."PUBLIC"."FLIGHTS" set status = :status where ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[payload]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="responsePayload" doc:id="d305b695-27be-47e3-83c3-aeaa2f45334e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="endLog" doc:id="6f085907-639d-4c15-ae09-23f53baf0c6e" message="** DB PUT by ID operation ended **"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="62c8c811-3328-4867-8558-533670231afa" >
				<logger level="INFO" doc:name="Logger" doc:id="6ea97e7a-6d5a-4206-84ad-148fe4e9472b" message="#[error.errorMessage.payload]"/>
				<ee:transform doc:name="Transform Message" doc:id="2f24574f-013c-4a5f-b1ad-d53197a02f5d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
error.errorMessage.payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
    </flow>
</mule>
